<a href="https://colab.research.google.com/github/rohitpawar4507/Data_Preprocessing-Assingment/blob/main/Data_Preprocessing_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Preprocessing Assignment**

1]Importing Libraries

In [8]:
import numpy as np
import pandas as pd

2]Uploading the Dataset from system

In [9]:
from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
  name=fn, length=len(uploaded[fn])))

Saving fortune_global_500_from_2019-2021.csv to fortune_global_500_from_2019-2021.csv
User uploaded file "fortune_global_500_from_2019-2021.csv" with length 275676 bytes

3)Importing the Dataset

In [85]:
df = pd.read_csv('fortune_global_500_from_2019-2021.csv')
print(df)

      year   rank  ... jobgrowth                                          permalink
0     2019    1.0  ...        no        https://fortune.com/global500/2019/walmart/
1     2019    2.0  ...        no  https://fortune.com/global500/2019/sinopec-group/
2     2019    3.0  ...        no  https://fortune.com/global500/2019/royal-dutch...
3     2019    4.0  ...        no  https://fortune.com/global500/2019/china-natio...
4     2019    5.0  ...       yes     https://fortune.com/global500/2019/state-grid/
...    ...    ...  ...       ...                                                ...
1495  2021  495.0  ...        no    https://fortune.com/company/bbt-corp/global500/
1496  2021  496.0  ...        no  https://fortune.com/company/china-reinsurance-...
1497  2021  497.0  ...        no  https://fortune.com/company/commonwealth-bank-...
1498  2021  498.0  ...       yes        https://fortune.com/company/flex/global500/
1499  2021  499.0  ...       yes    https://fortune.com/company/rite-aid/global500/

[1500 rows x 18 columns]

In [58]:
# 4)Handling Duplicate Data

In [86]:
# Prints the top few rows of the Dataset...
df.head()

   year  rank  ... jobgrowth                                          permalink
0  2019   1.0  ...        no        https://fortune.com/global500/2019/walmart/
1  2019   2.0  ...        no  https://fortune.com/global500/2019/sinopec-group/
2  2019   3.0  ...        no  https://fortune.com/global500/2019/royal-dutch...
3  2019   4.0  ...        no  https://fortune.com/global500/2019/china-natio...
4  2019   5.0  ...       yes     https://fortune.com/global500/2019/state-grid/

[5 rows x 18 columns]

In [87]:
# Function use to get stats about the
df.describe()

              year         rank  ...        assets     employees
count  1500.000000  1500.000000  ...  1.500000e+03  1.500000e+03
mean   2020.000000   250.258667  ...  2.871457e+05  1.392439e+05
std       0.816769   144.132031  ...  5.744032e+05  1.696815e+05
min    2019.000000     1.000000  ...  3.209400e+03  3.770000e+02
25%    2019.000000   125.750000  ...  4.428657e+04  4.765175e+04
50%    2020.000000   250.500000  ...  8.723500e+04  9.546650e+04
75%    2021.000000   375.000000  ...  2.340597e+05  1.711608e+05
max    2021.000000   500.000000  ...  5.110354e+06  2.300000e+06

[8 rows x 8 columns]

In [88]:
# Remove Duplicates
df = df.drop_duplicates()
print(df)

      year   rank  ... jobgrowth                                          permalink
0     2019    1.0  ...        no        https://fortune.com/global500/2019/walmart/
1     2019    2.0  ...        no  https://fortune.com/global500/2019/sinopec-group/
2     2019    3.0  ...        no  https://fortune.com/global500/2019/royal-dutch...
3     2019    4.0  ...        no  https://fortune.com/global500/2019/china-natio...
4     2019    5.0  ...       yes     https://fortune.com/global500/2019/state-grid/
...    ...    ...  ...       ...                                                ...
1495  2021  495.0  ...        no    https://fortune.com/company/bbt-corp/global500/
1496  2021  496.0  ...        no  https://fortune.com/company/china-reinsurance-...
1497  2021  497.0  ...        no  https://fortune.com/company/commonwealth-bank-...
1498  2021  498.0  ...       yes        https://fortune.com/company/flex/global500/
1499  2021  499.0  ...       yes    https://fortune.com/company/rite-aid/global500/

[1500 rows x 18 columns]

In [89]:
# Function use to get stats about the dataset...
df.describe()

              year         rank  ...        assets     employees
count  1500.000000  1500.000000  ...  1.500000e+03  1.500000e+03
mean   2020.000000   250.258667  ...  2.871457e+05  1.392439e+05
std       0.816769   144.132031  ...  5.744032e+05  1.696815e+05
min    2019.000000     1.000000  ...  3.209400e+03  3.770000e+02
25%    2019.000000   125.750000  ...  4.428657e+04  4.765175e+04
50%    2020.000000   250.500000  ...  8.723500e+04  9.546650e+04
75%    2021.000000   375.000000  ...  2.340597e+05  1.711608e+05
max    2021.000000   500.000000  ...  5.110354e+06  2.300000e+06

[8 rows x 8 columns]

5) Handling Missing Data

In [90]:
# Checking blank Values
df.isnull()

       year   rank   name  sector  ...  profitable  ceowoman  jobgrowth  permalink
0     False  False  False   False  ...       False     False      False      False
1     False  False  False   False  ...       False     False      False      False
2     False  False  False   False  ...       False     False      False      False
3     False  False  False   False  ...       False     False      False      False
4     False  False  False   False  ...       False     False      False      False
...     ...    ...    ...     ...  ...         ...       ...        ...        ...
1495  False  False  False   False  ...       False     False      False      False
1496  False  False  False   False  ...       False     False      False      False
1497  False  False  False   False  ...       False     False      False      False
1498  False  False  False   False  ...       False     False      False      False
1499  False  False  False   False  ...       False     False      False      False

[1500 rows x 18 columns]

In [91]:
# Checking null values category wise
df.isnull().sum()

year             0
rank             0
name             0
sector           0
industry         0
revenues         0
revchange       10
profits          1
prftchange     120
assets           0
employees        0
hqcity           6
hqstate       1136
newcomer         0
profitable       0
ceowoman         0
jobgrowth        0
permalink        0
dtype: int64

In [92]:
# Dropping categorical data rows with missing values
df.dropna(how='any', subset=['revenues', 'profits'], inplace=True)

In [93]:
# Checking null values category wise
df.isnull().sum()

year             0
rank             0
name             0
sector           0
industry         0
revenues         0
revchange       10
profits          0
prftchange     119
assets           0
employees        0
hqcity           6
hqstate       1135
newcomer         0
profitable       0
ceowoman         0
jobgrowth        0
permalink        0
dtype: int64

In [94]:
# Splitting dataset into independent & dependent variable
X = df[['name','sector','rank']].values
y = df['ceowoman'].values
print(X)

[['Walmart' 'Retailing' 1.0]
 ['Sinopec Group' 'Energy' 2.0]
 ['Royal Dutch Shell' 'Energy' 3.0]
 ...
 ['Commonwealth Bank of Australia' 'Financials' 497.0]
 ['Flex' 'Technology' 498.0]
 ['Rite Aid' 'Food & Drug Stores' 499.0]]

In [95]:
print(y)

['no' 'no' 'no' ... 'no' 'yes' 'no']

In [96]:
from sklearn.impute import SimpleImputer
print(X[:, 1:3]) #working with only numerical data

[['Retailing' 1.0]
 ['Energy' 2.0]
 ['Energy' 3.0]
 ...
 ['Financials' 497.0]
 ['Technology' 498.0]
 ['Food & Drug Stores' 499.0]]

In [97]:
# Handling Categorical Data

In [98]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
# [0] signifies the index of the column we are appliying the encoding on
df = pd.DataFrame(ct.fit_transform(df))
print(df)

     0  1  2   ...   17   18                                                 19
0     1  0  0  ...   no   no        https://fortune.com/global500/2019/walmart/
1     1  0  0  ...   no   no  https://fortune.com/global500/2019/sinopec-group/
2     1  0  0  ...   no   no  https://fortune.com/global500/2019/royal-dutch...
3     1  0  0  ...   no   no  https://fortune.com/global500/2019/china-natio...
4     1  0  0  ...   no  yes     https://fortune.com/global500/2019/state-grid/
...  .. .. ..  ...  ...  ...                                                ...
1494  0  0  1  ...   no   no    https://fortune.com/company/bbt-corp/global500/
1495  0  0  1  ...   no   no  https://fortune.com/company/china-reinsurance-...
1496  0  0  1  ...   no   no  https://fortune.com/company/commonwealth-bank-...
1497  0  0  1  ...  yes  yes        https://fortune.com/company/flex/global500/
1498  0  0  1  ...   no  yes    https://fortune.com/company/rite-aid/global500/

[1499 rows x 20 columns]

In [99]:
# Label Encoding
# Encoding the target variable
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)
print(y)

[0 0 0 ... 0 1 0]

In [101]:
# Splitting Data for Training & Testing

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [102]:
print(X_train)

[['Tesco' 'Food & Drug Stores' 103.0]
 ['Best Buy' 'Retailing' 238.0]
 ['Taikang Insurance Group' 'Financials' 423.0]
 ...
 ['Achmea' 'Financials' 494.0]
 ['EXOR Group' 'Financials' 28.0]
 ['Goldman Sachs Group' 'Financials' 193.0]]

In [103]:
print(X_test)

[['Itaú Unibanco Holding' 'Financials' 322.0]
 ['SAP' 'Technology' 403.0]
 ['Sanofi' 'Health Care' 276.0]
 ['Siemens' 'Industrials' 70.0]
 ['Shandong Weiqiao Pioneering Group' 'Industrials' 273.0]
 ['China Energy Engineering Group' 'Engineering & Construction' 364.0]
 ['Nationwide' 'Financials' 271.0]
 ['Medtronic' 'Health Care' 418.0]
 ['Fomento Económico Mexicano' 'Food, Beverages & Tobacco' 488.0]
 ['Mitsui' 'Wholesalers' 114.0]
 ['China FAW Group' 'Motor Vehicles & Parts' 66.0]
 ['AXA' 'Financials' 46.0]
 ['United Parcel Service' 'Transportation' 89.0]
 ['M&G' 'Financials' 298.0]
 ['Randstad' 'Business Services' 478.0]
 ['East Japan Railway' 'Transportation' 458.0]
 ['Sberbank' 'Financials' 269.0]
 ['Publix Super Markets' 'Food & Drug Stores' 342.0]
 ['Marathon Petroleum' 'Energy' 48.0]
 ['Nokia' 'Technology' 466.0]
 ['Freddie Mac' 'Financials' 125.0]
 ['Haier Smart Home' 'Industrials' 404.0]
 ['China Merchants Group' 'Transportation' 235.0]
 ['Alimentation Couche-Tard' 'Retailing' 183.0]
 ['Rosneft Oil' 'Energy' 195.0]
 ['Danone' 'Food, Beverages & Tobacco' 432.0]
 ['Charter Communications' 'Telecommunications' 230.0]
 ['Holcim' 'Materials' 491.0]
 ['Mizuho Financial Group' 'Financials' 350.0]
 ['BMW Group' 'Motor Vehicles & Parts' 54.0]
 ['Inditex' 'Retailing' 406.0]
 ['Delta Air Lines' 'Transportation' 260.0]
 ['UBS Group' 'Financials' 274.0]
 ['Banco do Brasil' 'Financials' 269.0]
 ['Société Générale' 'Financials' 174.0]
 ['Comcast' 'Telecommunications' 64.0]
 ['Tencent Holdings' 'Technology' 197.0]
 ['BT Group' 'Telecommunications' 435.0]
 ['Credit Suisse Group' 'Financials' 377.0]
 ['Continental' 'Motor Vehicles & Parts' 230.0]
 ['China Evergrande Group' 'Financials' 152.0]
 ['Kia' 'Motor Vehicles & Parts' 215.0]
 ['Caterpillar' 'Industrials' 283.0]
 ['Air France-KLM Group' 'Transportation' 401.0]
 ['Shaanxi Coal &#038; Chemical Industry' 'Energy' 281.0]
 ['Xinjiang Guanghui Industry Investment' 'Wholesalers' 443.0]
 ['Northwestern Mutual' 'Financials' 360.0]
 ['Lockheed Martin' 'Aerospace & Defense' 144.0]
 ['Fannie Mae' 'Financials' 62.0]
 ['Swiss Re' 'Financials' 233.0]
 ['EXOR Group' 'Financials' 37.0]
 ['Meta Platforms' 'Technology' 144.0]
 ['UnitedHealth Group' 'Health Care' 8.0]
 ['Petrobras' 'Energy' 120.0]
 ['Huayang New Material Technology Group' 'Energy' 480.0]
 ['Kansai Electric Power' 'Energy' 420.0]
 ['China Minmetals' 'Materials' 65.0]
 ['Lufthansa Group' 'Transportation' 284.0]
 ['J. Sainsbury' 'Food & Drug Stores' 343.0]
 ['Samsung Electronics' 'Technology' 15.0]
 ['Wilmar International' 'Food, Beverages & Tobacco' 211.0]
 ['Bouygues' 'Engineering & Construction' 299.0]
 ['Mitsubishi Electric' 'Industrials' 299.0]
 ['China Taiping Insurance Group' 'Financials' 391.0]
 ['Lloyds Banking Group' 'Financials' 353.0]
 ['China Evergrande Group' 'Financials' 122.0]
 ['Shanxi Coking Coal Group' 'Energy' 465.0]
 ['Walgreens Boots Alliance' 'Food & Drug Stores' 41.0]
 ['Shandong Iron & Steel Group' 'Materials' 383.0]
 ['China Aerospace Science & Industry' 'Aerospace & Defense' 320.0]
 ['Plains GP Holdings' 'Energy' 366.0]
 ['Marathon Petroleum' 'Energy' 72.0]
 ['PTT' 'Energy' 206.0]
 ['Honeywell International' 'Industrials' 346.0]
 ['Coles Group' 'Food & Drug Stores' 477.0]
 ['JBS' 'Food, Beverages & Tobacco' 202.0]
 ['Wells Fargo' 'Financials' 69.0]
 ['China Railway Construction' 'Engineering & Construction' 59.0]
 ['Jingye Group' 'Materials' 374.0]
 ['Poste Italiane' 'Financials' 355.0]
 ['Cathay Financial Holding' 'Financials' 373.0]
 ['Peugeot' 'Motor Vehicles & Parts' 101.0]
 ['Telefónica' 'Telecommunications' 223.0]
 ['Magna International' 'Motor Vehicles & Parts' 314.0]
 ['Carrefour' 'Food & Drug Stores' 98.0]
 ['Enterprise Products Partners' 'Energy' 447.0]
 ['Marubeni' 'Wholesalers' 165.0]
 ['Paccar' 'Industrials' 496.0]
 ['COSCO Shipping' 'Transportation' 264.0]
 ['Renault' 'Motor Vehicles & Parts' 143.0]
 ['Dai-ichi Life Holdings' 'Financials' 119.0]
 ['East Japan Railway' 'Transportation' 469.0]
 ['Samsung Electronics' 'Technology' 15.0]
 ['ViacomCBS' 'Media' 456.0]
 ['Hitachi' 'Technology' 102.0]
 ['Coca-Cola' 'Food, Beverages & Tobacco' 334.0]
 ['Tencent Holdings' 'Technology' 132.0]
 ['U.S. Bancorp' 'Financials' 478.0]
 ['ConocoPhillips' 'Energy' 319.0]
 ['Sunac China Holdings' 'Financials' 364.0]
 ['Hon Hai Precision Industry' 'Technology' 26.0]
 ['Phoenix Pharma' 'Health Care' 412.0]
 ['U.S. Postal Service' 'Transportation' 141.0]
 ['Kia' 'Motor Vehicles & Parts' 229.0]
 ['Coop Group' 'Food & Drug Stores' 396.0]
 ['Deutsche Bahn' 'Transportation' 232.0]
 ['Prudential PLC' 'Financials' 80.0]
 ['Bank of Montreal' 'Financials' 471.0]
 ['CRH' 'Materials' 440.0]
 ['China Life Insurance' 'Financials' 32.0]
 ['Rio Tinto Group' 'Energy' 279.0]
 ['Iberdrola' 'Energy' 302.0]
 ['Dongfeng Motor' 'Motor Vehicles & Parts' 85.0]
 ['China Evergrande Group' 'Financials' 138.0]
 ['Phillips 66' 'Energy' 143.0]
 ['Fortum' 'Energy' 186.0]
 ['Nissan Motor' 'Motor Vehicles & Parts' 66.0]
 ['Exelon' 'Energy' 369.0]
 ['Tesco' 'Food & Drug Stores' 99.0]
 ['Bank of Communications' 'Financials' 137.0]
 ['TongLing Nonferrous Metals Group' 'Materials' 455.0]
 ['Charter Communications' 'Telecommunications' 264.0]
 ['Suzuki Motor' 'Motor Vehicles & Parts' 357.0]
 ['ChemChina' 'Chemicals' 144.0]
 ['Bank of Montreal' 'Financials' 429.0]
 ['Morgan Stanley' 'Financials' 204.0]
 ['Groupe BPCE' 'Financials' 242.0]
 ['Repsol' 'Energy' 200.0]
 ['Sanofi' 'Health Care' 288.0]
 ['TongLing Nonferrous Metals Group' 'Materials' 461.0]
 ['Nationwide' 'Financials' 280.0]
 ['Suning.com Group' 'Retailing' 328.0]
 ['Procter &#038; Gamble' 'Household Products' 146.0]
 ['Verizon Communications' 'Telecommunications' 45.0]
 ['Shanxi Jincheng Anthracite Coal Mining Group' 'Energy' 482.0]
 ['American Airlines Group' 'Transportation' 257.0]
 ['Petronas' 'Energy' 158.0]
 ['Amazon' 'Retailing' 9.0]
 ['Yango Longking Group' 'Financials' 353.0]
 ['Olam International' 'Wholesalers' 468.0]
 ['Sumitomo Electric Industries' 'Motor Vehicles & Parts' 444.0]
 ['Sinomach' 'Industrials' 284.0]
 ['Kroger' 'Food & Drug Stores' 47.0]
 ['Raytheon Technologies' 'Aerospace & Defense' 119.0]
 ['Canon' 'Technology' 413.0]
 ['Jiangsu Shagang Group' 'Materials' 308.0]
 ['Continental' 'Motor Vehicles & Parts' 205.0]
 ['China Poly Group' 'Financials' 242.0]
 ['Sumitomo' 'Wholesalers' 231.0]
 ['Tyson Foods' 'Food, Beverages & Tobacco' 306.0]
 ['Sberbank' 'Financials' 240.0]
 ['Publix Super Markets' 'Food & Drug Stores' 324.0]
 ['Mitsubishi Heavy Industries' 'Industrials' 347.0]
 ['China Energy Investment' 'Energy' 101.0]
 ['Hon Hai Precision Industry' 'Technology' 22.0]
 ['Renault' 'Motor Vehicles & Parts' 219.0]
 ['Mitsubishi' 'Wholesalers' 42.0]
 ['Bayer' 'Health Care' 240.0]
 ['Boehringer Ingelheim' 'Health Care' 463.0]
 ['Tokio Marine Holdings' 'Financials' 208.0]
 ['Alibaba Group Holding' 'Retailing' 63.0]
 ['Taiwan Semiconductor Manufacturing' 'Technology' 251.0]
 ['ABB' 'Industrials' 339.0]
 ['Midea Group' 'Industrials' 312.0]
 ['Panasonic' 'Technology' 154.0]
 ['Siemens Energy' 'Energy' 401.0]
 ['BASF' 'Chemicals' 115.0]
 ['Fomento Económico Mexicano' 'Food, Beverages & Tobacco' 481.0]
 ['China National Coal Group' 'Energy' 495.0]
 ['Michelin' 'Motor Vehicles & Parts' 471.0]
 ['Swiss Re' 'Financials' 268.0]
 ['Daimler' 'Motor Vehicles & Parts' 18.0]
 ['Taiwan Semiconductor Manufacturing' 'Technology' 361.0]
 ['GlaxoSmithKline' 'Health Care' 264.0]
 ['China Southern Power Grid' 'Energy' 91.0]
 ['Northrop Grumman' 'Aerospace & Defense' 326.0]
 ['George Weston' 'Food & Drug Stores' 329.0]
 ['Reliance Industries' 'Energy' 155.0]
 ['ENI' 'Energy' 113.0]
 ['Anhui Conch Group' 'Materials' 366.0]
 ['Louis Dreyfus' 'Food, Beverages & Tobacco' 370.0]
 ['BASF' 'Chemicals' 134.0]
 ['Rio Tinto Group' 'Energy' 256.0]
 ['Hanwha' 'Financials' 276.0]
 ['Honda Motor' 'Motor Vehicles & Parts' 34.0]
 ['Marubeni' 'Wholesalers' 173.0]
 ['Itochu' 'Wholesalers' 72.0]
 ['Kia Motors' 'Motor Vehicles & Parts' 227.0]
 ['Iberdrola' 'Energy' 319.0]
 ['State Power Investment' 'Energy' 362.0]
 ['Thermo Fisher Scientific' 'Technology' 497.0]
 ['Phoenix Group Holdings' 'Financials' 337.0]
 ['Novartis' 'Health Care' 225.0]
 ['World Fuel Services' 'Energy' 344.0]
 ['Bosch Group' 'Motor Vehicles & Parts' 98.0]
 ['GlaxoSmithKline' 'Health Care' 281.0]
 ['Meiji Yasuda Life Insurance' 'Financials' 324.0]
 ['Mapfre Group' 'Financials' 463.0]
 ['Hengli Group' 'Industrials' 107.0]
 ['Northwestern Mutual' 'Financials' 387.0]
 ['UBS Group' 'Financials' 292.0]
 ['Allstate' 'Financials' 308.0]
 ['Coca-Cola' 'Food, Beverages & Tobacco' 370.0]
 ['CJ Corp.' 'Retailing' 463.0]
 ['Hyundai Motor' 'Motor Vehicles & Parts' 94.0]
 ['Westpac Banking' 'Financials' 490.0]
 ['Costco Wholesale' 'Retailing' 33.0]
 ['State Bank of India' 'Financials' 221.0]
 ['Société Générale' 'Financials' 192.0]
 ['China Poly Group' 'Financials' 174.0]
 ['Jinchuan Group' 'Materials' 336.0]
 ['Hyundai Motor' 'Motor Vehicles & Parts' 83.0]
 ['Hailiang Group' 'Wholesalers' 467.0]
 ['Allstate' 'Financials' 254.0]
 ['State Power Investment' 'Energy' 293.0]
 ['AIA Group' 'Financials' 388.0]
 ['Equinor' 'Energy' 113.0]
 ['Munich Re Group' 'Financials' 117.0]
 ['Electricité de France' 'Energy' 110.0]
 ['Energy Transfer' 'Energy' 200.0]
 ['Kroger' 'Food & Drug Stores' 51.0]
 ['Guangzhou Automobile Industry Group' 'Motor Vehicles & Parts' 189.0]
 ['Bunge' 'Food, Beverages & Tobacco' 247.0]
 ['China COSCO Shipping' 'Transportation' 279.0]
 ['Hanwha' 'Financials' 271.0]
 ['Royal Dutch Shell' 'Energy' 5.0]
 ['Aluminum Corp. of China' 'Materials' 198.0]
 ['Mondelez International' 'Food, Beverages & Tobacco' 462.0]
 ['China Huadian' 'Energy' 386.0]
 ['Sumitomo Electric Industries' 'Motor Vehicles & Parts' 437.0]
 ['ING Group' 'Financials' 390.0]
 ['AbbVie' 'Health Care' 247.0]
 ['Panasonic' 'Technology' 153.0]
 ['Industrial & Commercial Bank of China' 'Financials' 24.0]
 ['CVS Health' 'Health Care' 19.0]
 ['Hewlett Packard Enterprise' 'Technology' 404.0]
 ['Facebook' 'Technology' 184.0]
 ['Chubu Electric Power' 'Energy' 453.0]
 ['China Mobile Communications' 'Telecommunications' 65.0]
 ['Prudential Financial' 'Financials' 167.0]
 ['Sumitomo' 'Wholesalers' 238.0]
 ['Alibaba Group Holding' 'Retailing' 182.0]
 ['E.ON' 'Energy' 130.0]
 ['Shanghai Pudong Development Bank' 'Financials' 220.0]
 ['Pfizer' 'Health Care' 198.0]
 ['Target' 'Retailing' 78.0]
 ['Huayang New Material Technology Group' 'Energy' 498.0]
 ['State Grid' 'Energy' 2.0]
 ['Bouygues' 'Engineering & Construction' 287.0]
 ['INTL FCStone' 'Financials' 449.0]
 ['Intesa Sanpaolo' 'Financials' 291.0]
 ['Wuchan Zhongda Group' 'Wholesalers' 249.0]
 ['American Airlines Group' 'Transportation' 257.0]
 ['China Electronics Technology Group' 'Aerospace & Defense' 370.0]
 ['China Electronics Technology Group' 'Aerospace & Defense' 380.0]
 ['CVS Health' 'Health Care' 13.0]
 ['Industrial Bank' 'Financials' 213.0]
 ['Bank of America' 'Financials' 58.0]
 ['Daiwa House Industry' 'Engineering & Construction' 306.0]
 ['Sumitomo Mitsui Financial Group' 'Financials' 237.0]
 ['State Bank of India' 'Financials' 236.0]
 ['Mitsubishi Heavy Industries' 'Industrials' 334.0]
 ['Sumitomo Mitsui Financial Group' 'Financials' 325.0]
 ['Petrobras' 'Energy' 181.0]
 ['HCA Healthcare' 'Health Care' 207.0]
 ['Trafigura Group' 'Wholesalers' 22.0]
 ['Compass Group' 'Business Services' 476.0]
 ['Daimler' 'Motor Vehicles & Parts' 20.0]
 ['Safran' 'Aerospace & Defense' 493.0]
 ['ChemChina' 'Chemicals' 164.0]
 ['Jiangxi Copper' 'Materials' 225.0]
 ['Citigroup' 'Financials' 71.0]
 ['Longfor Group Holdings' 'Financials' 455.0]
 ['China Everbright Group' 'Financials' 253.0]
 ['China North Industries Group' 'Aerospace & Defense' 154.0]
 ['CHS' 'Food, Beverages & Tobacco' 428.0]
 ['China State Construction Engineering' 'Engineering & Construction'
  21.0]
 ['Siemens' 'Industrials' 74.0]
 ['Shanxi LuAn Mining Group' 'Energy' 488.0]
 ['HSBC Holdings' 'Financials' 102.0]
 ['China Aerospace Science & Technology' 'Aerospace & Defense' 307.0]
 ['Philip Morris International' 'Food, Beverages & Tobacco' 422.0]
 ['Beijing Automotive Group' 'Motor Vehicles & Parts' 129.0]
 ['Rajesh Exports' 'Wholesalers' 495.0]
 ['Banco Santander' 'Financials' 85.0]
 ['XMXYG' 'Wholesalers' 189.0]
 ['Aisin' 'Motor Vehicles & Parts' 365.0]
 ['World Fuel Services' 'Energy' 309.0]
 ['Humana' 'Health Care' 166.0]
 ['US Foods Holding' 'Wholesalers' 493.0]
 ['Pegatron' 'Technology' 268.0]
 ['China Minsheng Banking' 'Financials' 239.0]
 ['Yango Longking Group' 'Financials' 368.0]
 ['NEC' 'Technology' 431.0]
 ['Exxon Mobil' 'Energy' 8.0]
 ['Deutsche Bank' 'Financials' 290.0]
 ['Greenland Holding Group' 'Financials' 142.0]
 ['Wilmar International' 'Food, Beverages & Tobacco' 284.0]
 ['CVS Health' 'Health Care' 7.0]
 ['Finatis' 'Food & Drug Stores' 262.0]]

In [104]:
print(y_train)

[0 1 0 ... 0 0 0]

In [37]:
print(y_test)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0]

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, 4:] = sc.fit_transform(X_train[:, 4:])

**Feature Scaling**

In [107]:
print(X_train)

[['Tesco' 'Food & Drug Stores' 103.0]
 ['Best Buy' 'Retailing' 238.0]
 ['Taikang Insurance Group' 'Financials' 423.0]
 ...
 ['Achmea' 'Financials' 494.0]
 ['EXOR Group' 'Financials' 28.0]
 ['Goldman Sachs Group' 'Financials' 193.0]]

In [108]:
print(X_test)

[['Itaú Unibanco Holding' 'Financials' 322.0]
 ['SAP' 'Technology' 403.0]
 ['Sanofi' 'Health Care' 276.0]
 ['Siemens' 'Industrials' 70.0]
 ['Shandong Weiqiao Pioneering Group' 'Industrials' 273.0]
 ['China Energy Engineering Group' 'Engineering & Construction' 364.0]
 ['Nationwide' 'Financials' 271.0]
 ['Medtronic' 'Health Care' 418.0]
 ['Fomento Económico Mexicano' 'Food, Beverages & Tobacco' 488.0]
 ['Mitsui' 'Wholesalers' 114.0]
 ['China FAW Group' 'Motor Vehicles & Parts' 66.0]
 ['AXA' 'Financials' 46.0]
 ['United Parcel Service' 'Transportation' 89.0]
 ['M&G' 'Financials' 298.0]
 ['Randstad' 'Business Services' 478.0]
 ['East Japan Railway' 'Transportation' 458.0]
 ['Sberbank' 'Financials' 269.0]
 ['Publix Super Markets' 'Food & Drug Stores' 342.0]
 ['Marathon Petroleum' 'Energy' 48.0]
 ['Nokia' 'Technology' 466.0]
 ['Freddie Mac' 'Financials' 125.0]
 ['Haier Smart Home' 'Industrials' 404.0]
 ['China Merchants Group' 'Transportation' 235.0]
 ['Alimentation Couche-Tard' 'Retailing' 183.0]
 ['Rosneft Oil' 'Energy' 195.0]
 ['Danone' 'Food, Beverages & Tobacco' 432.0]
 ['Charter Communications' 'Telecommunications' 230.0]
 ['Holcim' 'Materials' 491.0]
 ['Mizuho Financial Group' 'Financials' 350.0]
 ['BMW Group' 'Motor Vehicles & Parts' 54.0]
 ['Inditex' 'Retailing' 406.0]
 ['Delta Air Lines' 'Transportation' 260.0]
 ['UBS Group' 'Financials' 274.0]
 ['Banco do Brasil' 'Financials' 269.0]
 ['Société Générale' 'Financials' 174.0]
 ['Comcast' 'Telecommunications' 64.0]
 ['Tencent Holdings' 'Technology' 197.0]
 ['BT Group' 'Telecommunications' 435.0]
 ['Credit Suisse Group' 'Financials' 377.0]
 ['Continental' 'Motor Vehicles & Parts' 230.0]
 ['China Evergrande Group' 'Financials' 152.0]
 ['Kia' 'Motor Vehicles & Parts' 215.0]
 ['Caterpillar' 'Industrials' 283.0]
 ['Air France-KLM Group' 'Transportation' 401.0]
 ['Shaanxi Coal &#038; Chemical Industry' 'Energy' 281.0]
 ['Xinjiang Guanghui Industry Investment' 'Wholesalers' 443.0]
 ['Northwestern Mutual' 'Financials' 360.0]
 ['Lockheed Martin' 'Aerospace & Defense' 144.0]
 ['Fannie Mae' 'Financials' 62.0]
 ['Swiss Re' 'Financials' 233.0]
 ['EXOR Group' 'Financials' 37.0]
 ['Meta Platforms' 'Technology' 144.0]
 ['UnitedHealth Group' 'Health Care' 8.0]
 ['Petrobras' 'Energy' 120.0]
 ['Huayang New Material Technology Group' 'Energy' 480.0]
 ['Kansai Electric Power' 'Energy' 420.0]
 ['China Minmetals' 'Materials' 65.0]
 ['Lufthansa Group' 'Transportation' 284.0]
 ['J. Sainsbury' 'Food & Drug Stores' 343.0]
 ['Samsung Electronics' 'Technology' 15.0]
 ['Wilmar International' 'Food, Beverages & Tobacco' 211.0]
 ['Bouygues' 'Engineering & Construction' 299.0]
 ['Mitsubishi Electric' 'Industrials' 299.0]
 ['China Taiping Insurance Group' 'Financials' 391.0]
 ['Lloyds Banking Group' 'Financials' 353.0]
 ['China Evergrande Group' 'Financials' 122.0]
 ['Shanxi Coking Coal Group' 'Energy' 465.0]
 ['Walgreens Boots Alliance' 'Food & Drug Stores' 41.0]
 ['Shandong Iron & Steel Group' 'Materials' 383.0]
 ['China Aerospace Science & Industry' 'Aerospace & Defense' 320.0]
 ['Plains GP Holdings' 'Energy' 366.0]
 ['Marathon Petroleum' 'Energy' 72.0]
 ['PTT' 'Energy' 206.0]
 ['Honeywell International' 'Industrials' 346.0]
 ['Coles Group' 'Food & Drug Stores' 477.0]
 ['JBS' 'Food, Beverages & Tobacco' 202.0]
 ['Wells Fargo' 'Financials' 69.0]
 ['China Railway Construction' 'Engineering & Construction' 59.0]
 ['Jingye Group' 'Materials' 374.0]
 ['Poste Italiane' 'Financials' 355.0]
 ['Cathay Financial Holding' 'Financials' 373.0]
 ['Peugeot' 'Motor Vehicles & Parts' 101.0]
 ['Telefónica' 'Telecommunications' 223.0]
 ['Magna International' 'Motor Vehicles & Parts' 314.0]
 ['Carrefour' 'Food & Drug Stores' 98.0]
 ['Enterprise Products Partners' 'Energy' 447.0]
 ['Marubeni' 'Wholesalers' 165.0]
 ['Paccar' 'Industrials' 496.0]
 ['COSCO Shipping' 'Transportation' 264.0]
 ['Renault' 'Motor Vehicles & Parts' 143.0]
 ['Dai-ichi Life Holdings' 'Financials' 119.0]
 ['East Japan Railway' 'Transportation' 469.0]
 ['Samsung Electronics' 'Technology' 15.0]
 ['ViacomCBS' 'Media' 456.0]
 ['Hitachi' 'Technology' 102.0]
 ['Coca-Cola' 'Food, Beverages & Tobacco' 334.0]
 ['Tencent Holdings' 'Technology' 132.0]
 ['U.S. Bancorp' 'Financials' 478.0]
 ['ConocoPhillips' 'Energy' 319.0]
 ['Sunac China Holdings' 'Financials' 364.0]
 ['Hon Hai Precision Industry' 'Technology' 26.0]
 ['Phoenix Pharma' 'Health Care' 412.0]
 ['U.S. Postal Service' 'Transportation' 141.0]
 ['Kia' 'Motor Vehicles & Parts' 229.0]
 ['Coop Group' 'Food & Drug Stores' 396.0]
 ['Deutsche Bahn' 'Transportation' 232.0]
 ['Prudential PLC' 'Financials' 80.0]
 ['Bank of Montreal' 'Financials' 471.0]
 ['CRH' 'Materials' 440.0]
 ['China Life Insurance' 'Financials' 32.0]
 ['Rio Tinto Group' 'Energy' 279.0]
 ['Iberdrola' 'Energy' 302.0]
 ['Dongfeng Motor' 'Motor Vehicles & Parts' 85.0]
 ['China Evergrande Group' 'Financials' 138.0]
 ['Phillips 66' 'Energy' 143.0]
 ['Fortum' 'Energy' 186.0]
 ['Nissan Motor' 'Motor Vehicles & Parts' 66.0]
 ['Exelon' 'Energy' 369.0]
 ['Tesco' 'Food & Drug Stores' 99.0]
 ['Bank of Communications' 'Financials' 137.0]
 ['TongLing Nonferrous Metals Group' 'Materials' 455.0]
 ['Charter Communications' 'Telecommunications' 264.0]
 ['Suzuki Motor' 'Motor Vehicles & Parts' 357.0]
 ['ChemChina' 'Chemicals' 144.0]
 ['Bank of Montreal' 'Financials' 429.0]
 ['Morgan Stanley' 'Financials' 204.0]
 ['Groupe BPCE' 'Financials' 242.0]
 ['Repsol' 'Energy' 200.0]
 ['Sanofi' 'Health Care' 288.0]
 ['TongLing Nonferrous Metals Group' 'Materials' 461.0]
 ['Nationwide' 'Financials' 280.0]
 ['Suning.com Group' 'Retailing' 328.0]
 ['Procter &#038; Gamble' 'Household Products' 146.0]
 ['Verizon Communications' 'Telecommunications' 45.0]
 ['Shanxi Jincheng Anthracite Coal Mining Group' 'Energy' 482.0]
 ['American Airlines Group' 'Transportation' 257.0]
 ['Petronas' 'Energy' 158.0]
 ['Amazon' 'Retailing' 9.0]
 ['Yango Longking Group' 'Financials' 353.0]
 ['Olam International' 'Wholesalers' 468.0]
 ['Sumitomo Electric Industries' 'Motor Vehicles & Parts' 444.0]
 ['Sinomach' 'Industrials' 284.0]
 ['Kroger' 'Food & Drug Stores' 47.0]
 ['Raytheon Technologies' 'Aerospace & Defense' 119.0]
 ['Canon' 'Technology' 413.0]
 ['Jiangsu Shagang Group' 'Materials' 308.0]
 ['Continental' 'Motor Vehicles & Parts' 205.0]
 ['China Poly Group' 'Financials' 242.0]
 ['Sumitomo' 'Wholesalers' 231.0]
 ['Tyson Foods' 'Food, Beverages & Tobacco' 306.0]
 ['Sberbank' 'Financials' 240.0]
 ['Publix Super Markets' 'Food & Drug Stores' 324.0]
 ['Mitsubishi Heavy Industries' 'Industrials' 347.0]
 ['China Energy Investment' 'Energy' 101.0]
 ['Hon Hai Precision Industry' 'Technology' 22.0]
 ['Renault' 'Motor Vehicles & Parts' 219.0]
 ['Mitsubishi' 'Wholesalers' 42.0]
 ['Bayer' 'Health Care' 240.0]
 ['Boehringer Ingelheim' 'Health Care' 463.0]
 ['Tokio Marine Holdings' 'Financials' 208.0]
 ['Alibaba Group Holding' 'Retailing' 63.0]
 ['Taiwan Semiconductor Manufacturing' 'Technology' 251.0]
 ['ABB' 'Industrials' 339.0]
 ['Midea Group' 'Industrials' 312.0]
 ['Panasonic' 'Technology' 154.0]
 ['Siemens Energy' 'Energy' 401.0]
 ['BASF' 'Chemicals' 115.0]
 ['Fomento Económico Mexicano' 'Food, Beverages & Tobacco' 481.0]
 ['China National Coal Group' 'Energy' 495.0]
 ['Michelin' 'Motor Vehicles & Parts' 471.0]
 ['Swiss Re' 'Financials' 268.0]
 ['Daimler' 'Motor Vehicles & Parts' 18.0]
 ['Taiwan Semiconductor Manufacturing' 'Technology' 361.0]
 ['GlaxoSmithKline' 'Health Care' 264.0]
 ['China Southern Power Grid' 'Energy' 91.0]
 ['Northrop Grumman' 'Aerospace & Defense' 326.0]
 ['George Weston' 'Food & Drug Stores' 329.0]
 ['Reliance Industries' 'Energy' 155.0]
 ['ENI' 'Energy' 113.0]
 ['Anhui Conch Group' 'Materials' 366.0]
 ['Louis Dreyfus' 'Food, Beverages & Tobacco' 370.0]
 ['BASF' 'Chemicals' 134.0]
 ['Rio Tinto Group' 'Energy' 256.0]
 ['Hanwha' 'Financials' 276.0]
 ['Honda Motor' 'Motor Vehicles & Parts' 34.0]
 ['Marubeni' 'Wholesalers' 173.0]
 ['Itochu' 'Wholesalers' 72.0]
 ['Kia Motors' 'Motor Vehicles & Parts' 227.0]
 ['Iberdrola' 'Energy' 319.0]
 ['State Power Investment' 'Energy' 362.0]
 ['Thermo Fisher Scientific' 'Technology' 497.0]
 ['Phoenix Group Holdings' 'Financials' 337.0]
 ['Novartis' 'Health Care' 225.0]
 ['World Fuel Services' 'Energy' 344.0]
 ['Bosch Group' 'Motor Vehicles & Parts' 98.0]
 ['GlaxoSmithKline' 'Health Care' 281.0]
 ['Meiji Yasuda Life Insurance' 'Financials' 324.0]
 ['Mapfre Group' 'Financials' 463.0]
 ['Hengli Group' 'Industrials' 107.0]
 ['Northwestern Mutual' 'Financials' 387.0]
 ['UBS Group' 'Financials' 292.0]
 ['Allstate' 'Financials' 308.0]
 ['Coca-Cola' 'Food, Beverages & Tobacco' 370.0]
 ['CJ Corp.' 'Retailing' 463.0]
 ['Hyundai Motor' 'Motor Vehicles & Parts' 94.0]
 ['Westpac Banking' 'Financials' 490.0]
 ['Costco Wholesale' 'Retailing' 33.0]
 ['State Bank of India' 'Financials' 221.0]
 ['Société Générale' 'Financials' 192.0]
 ['China Poly Group' 'Financials' 174.0]
 ['Jinchuan Group' 'Materials' 336.0]
 ['Hyundai Motor' 'Motor Vehicles & Parts' 83.0]
 ['Hailiang Group' 'Wholesalers' 467.0]
 ['Allstate' 'Financials' 254.0]
 ['State Power Investment' 'Energy' 293.0]
 ['AIA Group' 'Financials' 388.0]
 ['Equinor' 'Energy' 113.0]
 ['Munich Re Group' 'Financials' 117.0]
 ['Electricité de France' 'Energy' 110.0]
 ['Energy Transfer' 'Energy' 200.0]
 ['Kroger' 'Food & Drug Stores' 51.0]
 ['Guangzhou Automobile Industry Group' 'Motor Vehicles & Parts' 189.0]
 ['Bunge' 'Food, Beverages & Tobacco' 247.0]
 ['China COSCO Shipping' 'Transportation' 279.0]
 ['Hanwha' 'Financials' 271.0]
 ['Royal Dutch Shell' 'Energy' 5.0]
 ['Aluminum Corp. of China' 'Materials' 198.0]
 ['Mondelez International' 'Food, Beverages & Tobacco' 462.0]
 ['China Huadian' 'Energy' 386.0]
 ['Sumitomo Electric Industries' 'Motor Vehicles & Parts' 437.0]
 ['ING Group' 'Financials' 390.0]
 ['AbbVie' 'Health Care' 247.0]
 ['Panasonic' 'Technology' 153.0]
 ['Industrial & Commercial Bank of China' 'Financials' 24.0]
 ['CVS Health' 'Health Care' 19.0]
 ['Hewlett Packard Enterprise' 'Technology' 404.0]
 ['Facebook' 'Technology' 184.0]
 ['Chubu Electric Power' 'Energy' 453.0]
 ['China Mobile Communications' 'Telecommunications' 65.0]
 ['Prudential Financial' 'Financials' 167.0]
 ['Sumitomo' 'Wholesalers' 238.0]
 ['Alibaba Group Holding' 'Retailing' 182.0]
 ['E.ON' 'Energy' 130.0]
 ['Shanghai Pudong Development Bank' 'Financials' 220.0]
 ['Pfizer' 'Health Care' 198.0]
 ['Target' 'Retailing' 78.0]
 ['Huayang New Material Technology Group' 'Energy' 498.0]
 ['State Grid' 'Energy' 2.0]
 ['Bouygues' 'Engineering & Construction' 287.0]
 ['INTL FCStone' 'Financials' 449.0]
 ['Intesa Sanpaolo' 'Financials' 291.0]
 ['Wuchan Zhongda Group' 'Wholesalers' 249.0]
 ['American Airlines Group' 'Transportation' 257.0]
 ['China Electronics Technology Group' 'Aerospace & Defense' 370.0]
 ['China Electronics Technology Group' 'Aerospace & Defense' 380.0]
 ['CVS Health' 'Health Care' 13.0]
 ['Industrial Bank' 'Financials' 213.0]
 ['Bank of America' 'Financials' 58.0]
 ['Daiwa House Industry' 'Engineering & Construction' 306.0]
 ['Sumitomo Mitsui Financial Group' 'Financials' 237.0]
 ['State Bank of India' 'Financials' 236.0]
 ['Mitsubishi Heavy Industries' 'Industrials' 334.0]
 ['Sumitomo Mitsui Financial Group' 'Financials' 325.0]
 ['Petrobras' 'Energy' 181.0]
 ['HCA Healthcare' 'Health Care' 207.0]
 ['Trafigura Group' 'Wholesalers' 22.0]
 ['Compass Group' 'Business Services' 476.0]
 ['Daimler' 'Motor Vehicles & Parts' 20.0]
 ['Safran' 'Aerospace & Defense' 493.0]
 ['ChemChina' 'Chemicals' 164.0]
 ['Jiangxi Copper' 'Materials' 225.0]
 ['Citigroup' 'Financials' 71.0]
 ['Longfor Group Holdings' 'Financials' 455.0]
 ['China Everbright Group' 'Financials' 253.0]
 ['China North Industries Group' 'Aerospace & Defense' 154.0]
 ['CHS' 'Food, Beverages & Tobacco' 428.0]
 ['China State Construction Engineering' 'Engineering & Construction'
  21.0]
 ['Siemens' 'Industrials' 74.0]
 ['Shanxi LuAn Mining Group' 'Energy' 488.0]
 ['HSBC Holdings' 'Financials' 102.0]
 ['China Aerospace Science & Technology' 'Aerospace & Defense' 307.0]
 ['Philip Morris International' 'Food, Beverages & Tobacco' 422.0]
 ['Beijing Automotive Group' 'Motor Vehicles & Parts' 129.0]
 ['Rajesh Exports' 'Wholesalers' 495.0]
 ['Banco Santander' 'Financials' 85.0]
 ['XMXYG' 'Wholesalers' 189.0]
 ['Aisin' 'Motor Vehicles & Parts' 365.0]
 ['World Fuel Services' 'Energy' 309.0]
 ['Humana' 'Health Care' 166.0]
 ['US Foods Holding' 'Wholesalers' 493.0]
 ['Pegatron' 'Technology' 268.0]
 ['China Minsheng Banking' 'Financials' 239.0]
 ['Yango Longking Group' 'Financials' 368.0]
 ['NEC' 'Technology' 431.0]
 ['Exxon Mobil' 'Energy' 8.0]
 ['Deutsche Bank' 'Financials' 290.0]
 ['Greenland Holding Group' 'Financials' 142.0]
 ['Wilmar International' 'Food, Beverages & Tobacco' 284.0]
 ['CVS Health' 'Health Care' 7.0]
 ['Finatis' 'Food & Drug Stores' 262.0]]